.featuredContainer{
    padding: 2rem;
    font-family: 'Roboto';
}

section .course h1{
    font-size: 2.6rem;
}
section .course span{
    margin: 5rem 0;
    color: rgb(109, 103, 103);
}

.featuredContainer .featuredContent{
    display: flex;
    gap: 3rem;
    margin: 2rem 0;
    border: 1px solid rgb(203, 199, 199);
    padding: 2rem;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}

.featuredContent img{
    width: 40%;
    height: 24rem;
}
.featuredContent h3{
    font-size: 2.5rem;
}

.featuredContent .webDev{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.webDev .updated span{
    color: green;
    font-style: italic;
}
.webDev .icon{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon button{
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 3px;
}

.icon .starIcon{
    color: goldenrod;
    font-size: 1.3rem;
}