/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
  --text-color: #f5f5f5;
  --hover-color: #6512ff;
  --bg-color: #4156e3;
  --second-bg-color: #292e33;
  --black-font-color: black;
  --white-font-color: #fff;
  --big-font: 2rem;
  --normal-font: 1.2rem;
  --neon-box-shadow: 0 0 0.5rem #12f7ff;
  --h2-font: 3rem;
  --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
  0 0 20px rgba(18, 247, 255, 0.3),
  0 0 30px rgba(18, 247, 255, 0.3),
  0 0 40px rgba(18, 247, 255, 0.3),
  0 0 70px rgba(18, 247, 255, 0.3),
  0 0 80px rgba(18, 247, 255, 0.3),
  0 0 100px rgba(18, 247, 255, 0.3),
  0 0 150px rgba(18, 247, 255, 0.3),
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}