.body {
    position: relative;
    height: 100%;
    text-align: center;
    padding: 4rem 0;
    font-family: 'Roboto';
  }
  
  .body {
    background: #eee;
    font-size: 14px;
    color: #000;
    margin: 0;
  }

.body .testimonies h3{
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 5px;
  }
  .body .testimonies span{
    letter-spacing: 3px;
    font-size: 0.9rem;
  }
  
  .body .testimonies small{
    letter-spacing: 3px;
    font-size: 0.7rem;
    color: red;
    font-style: italic;
  }
  
  
 .testimonialsSwiper {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 450px;
    padding: 1rem;
    border: solid 2px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    font-size: var(--normal-font);
    color: #fff;
    background: rgb(63, 62, 62);
    box-shadow: 1px 1px 36px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 36px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 36px 0px rgba(0,0,0,0.75);
  }
  
 .testimonialsSwiper .sliderContainer img {
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
  }
  .body .swiper .sliderDiv{
    padding: 1rem;
    background-color: red;
  }
 .testimonialsSwiper .sliderContainer {
    margin-top: 3rem;
    display: flex;
    gap: 0.6rem;
  }

  .sliderContainer .testimonyAbout p{
    font-size: 0.9rem;
  }
  .sliderContainer .testimonyAbout span{
    font-size: 0.7rem;
    font-style: italic;
    color: rgb(219, 212, 212);
  }

  @media screen and (max-width: 750px) {
    .swiper-slide {
        width: 300px;
        height: 350px;
      }
  }