.aboutUs{
  padding: 4rem 5%;
  background-color: #c9dde8;
  font-family: 'Roboto';
}
.aboutUs h1{
  text-align: center;
  margin-bottom: 3rem;
  animation-duration: 5s;
  animation-name: slidein;
  text-transform: uppercase;
  letter-spacing: 4px;
}

@keyframes slidein {
  from {
    translate: 0 150vh;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

.aboutContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.aboutContent .videoContainer {
  width: 40%;
  height: 20rem;
  background: black;
  border: none;
  border-radius: 2rem;
  overflow: hidden;
}
.aboutContent .videoContainer .aboutVid{
  width: 100%;
  height: 19rem;
}

.aboutContent .aboutInfo {
  width: 50%;
  font-size: var(--normal-font);
  text-align: justify;
  overflow: hidden;
  animation: scrollText ;
}


.aboutInfo p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes scrollText {
  from {
    translate: 0 150vw;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}


@media screen and (max-width: 470px) {
  .aboutContent .videoContainer {
    width: 100%;
    height: 12rem;
  }
  .aboutUs{
    padding: 4rem 1rem;
    background-color: #c9dde8;
}
.aboutContent .videoContainer .aboutVid{
  height: 11rem;
}

}

@media screen and (max-width: 1000px) {
  .aboutContent {
      flex-direction: column;
  }
  .aboutContent .videoContainer {
      width: 100%;
  }
  .aboutContent .aboutInfo{
      width: 100%;
  }
}