.studentReg{
    background: var(--bg-color);
}
.studentRegCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.studentRegCon form{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 30rem;
    padding: 4rem 1.5rem;
    border: 2px solid #fff;
    border-radius: 1.5rem;
}
form h4{
    font-size: 1.8rem;
    text-align: center;
    margin: 2rem;
    font-family: cursive;
    color: #fff;
}

form input{
    height: 2.5rem;
    outline: none;
    border: 1px solid grey;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    background: rgb(225, 231, 237);
}
input:focus{
    border: 2px solid rgb(192, 96, 237);
    box-shadow: -2px 3px 17px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 3px 17px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 3px 17px 0px rgba(0,0,0,0.75);
}

form button{
    margin: 1.5rem auto;
    width: 10rem;
    padding: 0.5rem ;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}
.studentRegCon p{
    font-size: 1rem;
}
.studentRegCon p span{
    color: red;
    font-style: italic;
}

@media screen and (max-width: 100px) {
    .studentRegCon form{
        width: 80%;
    }
}
@media screen and (max-width: 500px) {
    .studentRegCon form{
        width: 80%;
    }
} 