@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.courseHeroMain{
    padding: 0 2rem;
}

section .courseHero{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
}
section .courseHero h1{
    font-size: 2rem;
    margin: 1rem 0;
}
section .courseHero h3{
    font-size: 1.2rem;
}
section .courseHero span{
    color: rgb(102, 98, 98);
    margin: 0.5rem 0;
}

section div .courseHeroSelect{
    display: flex;
    gap: 2rem;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    cursor: pointer;
}
section div .courseHeroSelect p{
    padding: 0.2rem 0.8rem;
    border: 1px solid gray;
    transition: all 0.3s ease-in;
    align-self: center;
}
section div .courseHeroSelect p:hover{
    background: #333;
    color: #fff;
}

hr{
    margin: 1rem 0;
}
.courseContent{
    width: 100%;
    position: absolute;
}

.courseHeroContent {
    display: flex;
    /* gap: 1rem; */
}

.swiper-slide{
    background: transparent;
    display: flex;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    width: 50%;
    color: black;
    position: relative;
    padding: 0 0 3rem 0;
    text-align: left;
    height: 35rem;
    animation: scrollText 15s linear infinite;
}

@keyframes scrollText {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }


.swiper-slide .courseImg img{
    height: 25rem;
    width: 100%;
    margin-bottom: 1rem;
    transition: all 0.5s ease-in-out;
    margin-top: 0;
}

.courseContent img:hover{
    background: red;
    opacity: 0.9;
    transform: scale(1.03);
    cursor: pointer;
}

.courseContent .title {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 0 0.6rem;
}
.courseContent .title p{
    font-weight: 600;
    font-size: 1.4rem;
    font-family: 'Poppins';
}
.courseContent .title span{
    color: rgb(78, 83, 83);
    font-style: italic;
}

.courseContent .title .raters{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.3rem;
}
.courseContent .title .raters .star{
    color: goldenrod;
    font-size: 1.1rem;
}
.courseContent .title .money{
    font-size: 1.5rem;
    margin-top: 0.5rem;
}



/* *****************Bottom Contents */
.courseLearn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    padding: 2rem 1rem;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    font-family: 'Roboto';
}

.courseLearn .courseExtra{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.2rem;
}

.courseLearn .courseExtra div{
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    background: gray;
    border-radius: 50%;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .courseContent .title p{
        font-size: 1rem;
    }
    .courseContent .title .raters{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 648px) {
    section div .courseHeroSelect{
        flex-wrap: wrap;
    }
}