.skillContainer{
    padding: 4rem 5%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

.skillContainer h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.skillContainer p{
    text-align: justify;
    margin: 1rem 0;
    border: 0;
  font-size: var(--normal-font);
}


@media screen and (max-width: 1000px) {
    .onlineSkill{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .skillContainer p{
        margin: 1rem 0;
    }
    .moreFeatureContainer{
        width: 100%;
    }
    .featureSection{
        width: 100%;
    }
    .featureSection .moreFeat{
        width: 100%;
    }
}

.skillContainer .featuresh3{
    margin: 2rem 0;
    font-size: 2.3rem;
    letter-spacing: 4px;
}


/** MORE FEATURES ***************************/
.moreFeatureContainer{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-self: center;
}

.moreFeatureContainer .featureSection {
    text-align: left;
}

.moreFeat {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
    box-sizing: border-box;
    box-shadow: 1px 0px 15px 2px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 0px 15px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 0px 15px 2px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: all 0.5s ease;
}

.moreFeat:hover{
    transform: scale(1.02);
    z-index: 2;
}

.moreFeat p{
    text-align: left;
    margin: 0.4rem 0;
    font-size: var(--normal-font);
}

.moreFeat h4{
    font-size: 1.2rem;
}
.moreFeat span{
    font-size: 0.8rem;
}

.moreFeat h4{
    color: var(--bg-color);
}

.featureSection .black{
    background: black;
    color: #fff;
}

.skillContainer button{
    margin-top: 3rem;
    padding: 0.8rem 1.4rem;
    font-size: var(--normal-font);
    border: none;
    border-radius: 25px;
    background: #333;
    color: #fff;
    cursor: pointer;
    width: 15rem;
    align-self: center;
    box-shadow: 1px 0px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 0px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 15px 2px rgba(0,0,0,0.75);
    transition: all 0.6s ease-in;
}
.skillContainer button:hover{
    background: #fff;
    color: #333;
    transform: scale(1.1);
    font-weight: 700;
}

@media screen and (max-width: 470px) {
    .moreFeat {
        text-align: left;
    }
    .skillContainer{
        padding: 4rem 0.8rem;
        text-align: justify;
        align-items: center;
        justify-content: left;
    }
    .skillContainer p{
        text-align: justify;
        margin: 2rem 3%;
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .onlineSkill .tech{
        height: 12rem;
        width: 21rem;
        margin: auto 0;
        text-align: center;
    }
    
    .tech .skillVid{
        height: 6rem;
        width: 100%;
    }
    .onlineSkill{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .tech p {
        text-align: center;
    }
    .tech p b{
        font-size: 0.8rem;
        text-align: center;
    }
    .tech p span{
        display: none;
    }
    .skillContainer p{
        margin: 1rem 8%;
    }
    .skillContainer .featuresh3{
        font-size: 1.5rem;
    }
}




@media screen and (max-width: 700px) {
    .moreFeatureContainer .hideSection{
        display: none;
    }
}

.skillContainer .featureForm{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    opacity: 0;
    width: 100%;
    animation: pop-up 0.4s ease-in-out forwards;
}


@keyframes pop-up{
    0% {
        opacity: 0;
        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.featureForm .formContainer{
    padding: 2rem;
    background: #fff;
    opacity: 1;
    z-index: 2;
    width: 40rem;
    margin-top: 105rem;
    border-radius: 1rem;
}

.formContainer form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 1rem;
}

.formContainer form div{
    display: flex;
    gap: 1rem;
}

.formContainer form input{
    height: 2.5rem;
    width: 100%;
    padding-left: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
}

.formContainer .closeIcon{
    float: right;
    margin-bottom: 2rem;
    cursor: pointer;
}

.featureForm .formContainer form button{
    border-radius: 3px;
}