.benefitsMain{
    background: #c9dde8;
    padding-top: 3rem;
}

.benefitsMain h3{
    text-align: center;
    color: var(--bg-color);
    font-size: 1.4rem;
    font-family: sans-serif;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.benefitsMain h3:hover {
    transform: scale(1.1);
}

.benefitsMain h3 span{
    color: black;
    font-size: 1.8rem;
    text-transform: none;
}

.Benefits{
    display: flex;
    padding: 1.5rem 10%;
    align-items: center;
    /* justify-content: space-between; */
    gap: 2rem;
}

.Benefits .benefitsImg {
    width: 30%;
}
.Benefits .benefitsImg img{
    width: 100%;
    height: 25rem;
    border-radius: 1rem;
}
.benefitsOptions{
    width: 100%;
}
.benefitsOptions .benefitSelect{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.benefitsOptions .benefitSelect .option div .buttons{
    display: flex;
    justify-content: space-between;
    border: none;
    width: 100%;
    padding: 0.5rem 0.8rem;
    border-radius: 0.4rem;
    margin-bottom: 0.6rem;
    text-align: left;
    -webkit-box-shadow: -1px -1px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 23px 0px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 23px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.benefitSelect .option div button{
    border: none;
    font-size: 1.2rem;
    background: transparent;
}

.benefitsOptions .benefitSelect .option p{
    color: #fff;
    padding: 0.4rem 0.7rem;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    display: none;
    -webkit-box-shadow: -1px -1px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 23px 0px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 23px 0px rgba(0,0,0,0.75);
    position: absolute;
    top: 2.7rem;
    z-index: 2;
    background: #333;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    animation: pop-in 0.4s ease-in-out forwards;
}

@keyframes pop-in{
    0% {
        opacity: 0;
        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.positionSet p:hover{
    transform: scale(1.1);
}

.benefitSelect .option .positionSet{
    position: relative;
    background: #fff;
}

@media screen and (max-width: 1000px) {
    .Benefits{
        flex-direction: column;
        padding: 1.5rem 0;
    }
    .benefitsOptions .benefitSelect{
        flex-direction: column;
        gap: 0;
    }
    .Benefits .benefitsImg {
        width: 100%;
    }
    .Benefits .benefitsImg img{
        width: 100%;
        height: 15rem;
        border-radius: 1rem;
    }
}
