nav{
    background: var(--bg-color);
    
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 2rem 0 1.2rem;
}
.navList2{
    position: absolute;
    padding-top: 2rem;
    height: 100vh;
    right: 0;
    top: 0;
    background: var(--bg-color);
    width: 100%;
    display: none;
    animation: pop-in 0.4s ease-in-out forwards;
}

.navList2 .popIn:first-child{
    animation: pop-in .6s ease-out forwards;
}
.popIn:nth-child(2){
    animation: pop-in .8s ease-out forwards;
}
.popIn:nth-child(3){
    animation: pop-in 1s ease-out forwards;
}
.popIn:nth-child(4){
    animation: pop-in 1.2s ease-out forwards;
}
.popIn:nth-child(5){
    animation: pop-in 1.3s ease-out forwards;
}



@keyframes pop-in{
    0% {
        opacity: 0;
        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes rotate{
    0% {
        opacity: 0;
        transform: rotate(45deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

.navList2 .closeIcon{
    float: right;
    margin-right: 2rem;
    animation: rotate 1s ease-in forwards;
}

.navList2 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
    font-size: 1.8rem;
}
.navList {
    display: flex;
    align-items: center;
}
nav img{
    width: 5rem;
    margin-top: 0.6rem;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
}
ul li a{
    text-decoration: none;
    color: aliceblue;
}
.container .menuIcon{
    display: none;
}


@media screen and (max-width: 820px) {
    .navList{
        display: none;
    }
    .container .menuIcon{
        display: block;
    }
}
