nav{
    background: rgb(42, 80, 209);
    
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 2rem 0 1.2rem;
}
.navList2{
    position: absolute;
    padding-top: 2rem;
    height: 100vh;
    /* left: 0; */
    right: 0;
    top: 0;
    background: blue;
    width: 100%;
    display: none;
}

.navList2 .closeIcon{
    float: right;
    margin-right: 2rem;
}

.navList2 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
    font-size: 1.8rem;
}
.navList {
    display: flex;
    align-items: center;
}
nav img{
    width: 5rem;
    margin-top: 0.6rem;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
}
ul li a{
    text-decoration: none;
    color: aliceblue;
}
.container .menuIcon{
    display: none;
}


@media screen and (max-width: 720px) {
    .navList{
        display: none;
    }
    .container .menuIcon{
        display: block;
    }
}
